## hello.c test files and compiled binary
hello
hello2
hello3
hello.out

## exported/compiled files
*.c
*.data
*.eclh
*.o
*.so
*.fas
*.fasl
*.lx32fsl
*.lx64fsl
elf.html
elf.pdf
elf.tex
libelf-mono.a

## scratch buffer
scratch.lisp