## hello.c test files and compiled binary
hello
hello2
hello3
hello.out

## exported/compiled files
*.fas
*.fasl
*.lx32fsl
*.lx64fsl
*.o
*.so
elf.html
elf.pdf
elf.tex
libelf-mono.a

## scratch buffer
scratch.lisp

# Ignore documentation, specifically
# docs/SysV-ABI.pdf
# docs/gabi41.pdf
docs
